.home {
  width: 100%;
  height: 100vh;
  position: relative;
}
.home img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.text-home {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.text-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
}

.text-home h1 {
  color: #fff;
  font-size: 4.5rem;
}
.text-home p {
  color: #fff;
  font-size: 17px;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.9rem 2.68rem;
  background-color: #3dc8e7;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.btn:hover {
  background-color: #0e7a92;
}

.indicator {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  animation: topDown 0.7s infinite alternate;
}

@keyframes topDown {
  to {
    transform: translateY(-20px);
  }
}

@media (max-width: 760px) {
  .text-home h1 {
    font-size: 3rem;
  }
}
