.sobre {
  width: 100%;
}
.title-sobre {
  padding: 5rem;
}
.title-sobre h1 {
  text-align: center;
  font-size: 3rem;
  color: #343333;
}

.content-sobre {
  max-width: 900px;
  margin: 0 auto;
}

.box-text-sobre {
  width: 100%;
  min-height: 650px;
  max-width: 630px;
  padding: 2rem 6rem;
  background-color: #fff;
  position: relative;
}
.box-text-sobre p {
  width: 70%;
  line-height: 2.3rem;
}

.logo-sobre {
  margin-bottom: 3rem;
}

.loja-sobre {
  width: 400px;
  position: absolute;
  top: 7%;
  right: -39%;
}

@media (max-width: 890px) {
  .loja-sobre {
    position: initial;
  }

  .box-text-sobre {
    max-width: 100%;
    padding: 2rem 1rem;
  }
  .box-text-sobre p {
    width: 100%;
    line-height: 2.3rem;
  }

  .title-sobre {
    padding: 3rem;
  }

  .title-sobre h1 {
    font-size: 2rem;
  }
}
